/* ==========================================================================
Variables y utilidades
 */
:root{
    --color-principal: #031842; /*azul electrivo*/
    --color-secundario:#FFB003;
    --texto-principal: #071638;
    
}
/* ==========================================================================
Tipografía
========================================================================== */
:root{
    --bienvenido: "Zen Dots", sans-serif;
}

/* ==========================================================================
Layout
========================================================================== */


/* ==========================================================================
Header
========================================================================== */
.encabezado{
    display: flex;
    background-color:var(--color-principal);    
    height: 10vh;    
    justify-content: center;
}

.contenedor__encabezado{
    display: flex;
    width: 90vw;
    background-color: var(--color-principal);    
    justify-content: space-between;
    border: #071638;
    border-bottom: 1px solid #e0e0e0;
}

.encabezado__img{
    width: clamp(110px, 14vw, 220px); /*nunca sera menor de 80px, medianas crecera con 11 vw nunca sera mayor de 180*/
    height: auto;
}

.encabezado__nav{
    display: flex;
    gap: 0.7rem;
    background-color: var(--color-principal);
    align-items: center;
    
}

.nav__a{
    font-family: var(--fuente-chat);
    font-size: 0.7rem;
    font-weight: bold;    
    text-decoration: none;    
    color: white;
    transition: all 0.5s ease-in-out;
}

.nav__a:hover{
    font-family: var(--fuente-chat);    
    text-decoration: underline;
    color: var(--color-secundario);    
    text-underline-offset: 0.4rem;
}

/* ==========================================================================
cuerpo
========================================================================== */
.cuerpo{
    display: flex;    
    justify-content: center;
    background-image: url('../img/fondo.jpg');
    min-height: 90vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.contenedor__cuerpo{
    margin-top: 50vh;
    width: 90vw;
    color:green;
    font-size: 0.7rem;
    font-family: var(--bienvenido);

    position: relative;
    width: 170px;
    height: 90px;
    padding: 6px 9px;    
    line-height: 1.4;    
    background-color: rgba(223, 232, 241, 0.8);
    border-radius: 18px 18px 2px 18px;   
    text-align: center; 
}

.btn__contenedor{
    background: linear-gradient(135deg,#FFD54A,#FFC107,#FF9800);
    color:#111;
    font-size:1rem;
    font-weight:700;
    font-family:inherit;
    padding:5px 14px;
    border:none;
    border-radius:14px;
    cursor:pointer;
    transition:all .35s ease;
    box-shadow:
        0 8px 20px rgba(255,193,7,.35),
        0 0 20px rgba(255,213,74,.25);
    position:relative;
    overflow:hidden;
    margin-top: 0.4rem;
}






/* ==========================================================================
Media Querys
========================================================================== */

@media (min-width:768px) {
    .encabezado__nav{        
        gap: 0.9rem;            
    }
    .nav__a{    
        font-size: 0.9rem;         
    }
    .contenedor__cuerpo{        
        font-size: 0.9rem;
        width: 200px;
        height: 110px;
        padding: 7px 10px;
        color: yellow;
    }
    .btn__contenedor{
        font-size:1.2rem;
        font-weight:700;
        padding:7px 16px;
        border-radius:14px;
        margin-top: 0.8rem;
    }
    
}

@media (min-width:1024px) {
    .encabezado__nav{        
        gap: 1.3rem;            
    }
    .nav__a{    
        font-size: 1.2rem;            
    }
    .contenedor__cuerpo{        
        font-size: 1.4rem;
        width: 350px;
        height: 180px;
        padding: 7px 10px;
        color: red;
    }
    .btn__contenedor{
        font-size:1.5rem;
        font-weight:700;
        padding:16px 20px;
        border-radius:14px;
        margin-top: 0.8rem;
    }
}