/* ==========================================================================
Variables y utilidades
 */
:root{
    --color-principal: #031842; /*azul electrivo*/
    --color-secundario:#FFB003;
    --texto-principal: #071638;
    
}
/* ==========================================================================
Tipografía
========================================================================== */
:root{
    --bienvenido: "Zen Dots", sans-serif;
}

/* ==========================================================================
Layout
========================================================================== */

/* ==========================================================================
INDEX
========================================================================== */


/* ==========================================================================
Header
========================================================================== */
.encabezado{
    display: flex;
    background-color:var(--color-principal);    
    height: 10vh;    
    justify-content: center;             
}

.contenedor__encabezado{
    display: flex;
    width: 90vw;    
    background-color: var(--color-principal);    
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;    
    border: #071638;
    border-bottom: 1px solid #e0e0e0;
}

.contenedor__img{
    width: 25px;
    height: auto;
}

.encabezado__nav{    
    gap: 0.7rem;
    background-color: var(--color-principal);
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.nav__a{
    font-family: var(--fuente-chat);
    font-size: 0.75rem;
    font-weight: bold;    
    text-decoration: none;    
    color: rgb(253, 252, 252);
    transition: all 0.5s ease-in-out;
}

.nav__a:hover{
    font-family: var(--fuente-chat);    
    text-decoration: underline;
    color: var(--color-secundario);    
    text-underline-offset: 0.4rem;
}



/* ==========================================================================
body
========================================================================== */
.cuerpo{
    display: flex;    
    justify-content: center;
    background-image: url('../../src/img/fondo.jpg');
    height: 90vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.contenedor__cuerpo{
    margin-top: 50vh;
    width: 50vw;
    height: 10vh;
    color:green;
    font-size: 0.8rem;
    font-family: var(--bienvenido);
    background-color: rgba(223, 232, 241, 0.8);
    border-radius: 18px 18px 2px 18px;   
    text-align: center; 
}

.btn__contenedor{
    background: linear-gradient(135deg,#FFD54A,#FFC107,#FF9800);
    color:#111;
    font-size:1rem;
    font-weight:700;
    font-family:inherit;
    padding:5px 14px;
    border:none;
    border-radius:14px;
    cursor:pointer;
    transition:all .35s ease;
    box-shadow:
        0 8px 20px rgba(255,193,7,.35),
        0 0 20px rgba(255,213,74,.25);
    position:relative;
    overflow:hidden;
    margin-top: 0.4rem;
}






/* ==========================================================================
Media Querys INDEX
========================================================================== */

@media (min-width:768px) {
    .contenedor__img{
        width: 30px;
        height: auto;
    }
    .encabezado__nav{        
        gap: 2rem;
        flex-direction: row;    
        padding: 0;            
    }
    .nav__a{    
        font-size: 0.9rem;         
    }
    .contenedor__cuerpo{        
        font-size: 0.9rem;
        width: 200px;
        height: 110px;
        padding: 7px 10px;
        color: yellow;
    
        margin-top: 50vh;
    }
    .btn__contenedor{
        font-size:1.2rem;
        font-weight:700;
        padding:7px 16px;
        border-radius:14px;
        margin-top: 0.8rem;
    }
    
}

@media (min-width:1024px) {
    .contenedor__img{
        width: 40px;
        height: auto;
    }
    .encabezado__nav{          
        display: flex;      
        gap: 1.3rem;            
    }
    .nav__a{    
        font-size: 1.2rem;            
    }
    .contenedor__cuerpo{        
        font-size: 1.4rem;
        width: 350px;
        height: 180px;
        padding: 7px 10px;
        color: red;
        margin-top: 50vh;
    }
    .btn__contenedor{
        font-size:1.5rem;
        font-weight:700;
        padding:16px 20px;
        border-radius:14px;
        margin-top: 0.8rem;
    }
}


/* ==========================================================================
404 not found
========================================================================== */
.notfound{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../img/fondo_404.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;        
}

.vegito__notfound{
    margin-top: 25vh;
    height: 180px;
}

.cuatro{
    color: white;
    margin-top: 30vh;    
    font-size: 40px;
    background: linear-gradient(to bottom, #ffffff, #8a8aff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 20px rgba(138, 138, 255, 0.3);
    
}

.Error_404{
    color: #CCFF00;
    font-size: 20px;

}

.ups{
    color: rgba(252, 252, 249, 0.973);
    font-size: 10px;
}

/* ==========================================================================
Media Querys NOTFOUND
========================================================================== */


@media (min-width:768){
    .vegito__notfound{
        margin-top: 35vh;
        height: 260px;
    }
    .cuatro{        
        margin-top: 30vh;    
        font-size: 65px;                
    }

    .Error_404{
        color: #CCFF00;
        font-size: 35px;
    }

    .ups{        
        font-size: 18px;
    }
}

@media (min-width:1024px){
    .vegito__notfound{
        margin-top: 35vh;
        height: 360px;
    }
    .cuatro{        
        margin-top: 30vh;    
        font-size: 80px;                
    }

    .Error_404{
        color: #CCFF00;
        font-size: 40px;
    }

    .ups{        
        font-size: 25px;
    }
}